indent_columns = 4
indent_namespace = true
indent_namespace_single_indent = false
#indent_namespace_limit = 15
#indent_namespace_inner_only = false
indent_macro_brace = true
indent_single_line_comments_before = 0 # 无符号数
indent_func_call_param = true
indent_func_def_param = true
indent_ctor_init_leading = 2
indent_with_tabs = 0
indent_align_string = true
indent_class = true
indent_access_spec = -4
indent_brace = 1 
indent_comment_align_thresh = 4
indent_comment = true
indent_paren_after_func_def = true
indent_col1_comment = true
pp_indent=add
pp_space_after=remove
sp_pp_stringify=remove 
indent_switch_pp = true
pp_region_indent_code=true
pp_if_indent_code=true
pp_indent_in_guard = true
pp_indent_count = 4
pp_indent_if = 1
pp_indent_brace = 1
pp_indent_func_def = true
pp_indent_at_level=true
pp_indent_at_level0 = true
pp_define_at_level=true
pp_include_at_level=true
pp_indent_with_tabs=-1
nl_assign_leave_one_liners = true
nl_class_leave_one_liners = true
nl_enum_leave_one_liners = true
nl_getset_leave_one_liners = true
nl_cs_property_leave_one_liners = true 
nl_func_leave_one_liners = true
nl_cpp_lambda_leave_one_liners = true
nl_if_leave_one_liners = true 
nl_while_leave_one_liners = true 
nl_do_leave_one_liners = true
nl_for_leave_one_liners = true
nl_max = 1              #连续换行符的最大数量（3 = 2 个空白行）
nl_max_blank_in_func = 0 #函数中连续换行符的最大数量。
nl_before_func_class_proto = 1
code_width = 160  # 无符号数 
cmt_width = 140 # 无符号数